<h1>Consoles</h1>
<div id="consoles">
  <ul id="consolesList">
    {{#each consoles}}
      <li>
        {{cname}}
        by
        {{cbrand}}
        ({{cyear}})
      </li>
    {{/each}}
  </ul>
</div>
<div id="pairs">
  <h2>Compatible Pairs:</h2>
  <ul id="pairsList">
    {{#each pairs}}
      <li>
        {{pid}}
        {{pgame}}---{{pconsole}}
      </li>
    {{/each}}
  </ul>
</div>